
@model  BancaElectronicaWeb.Models.Cliente 
@{
    ViewBag.Title = "Home Page";

}



<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" runat="server" media="screen" href="~/Content/login.css" />


<div class="container">
    <div class="row fila">
        <div class="col-md-5 mx-auto">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <h1>Banca electrónica</h1>
                        </div>
                    </div>
                    @using (Html.BeginForm("Autorizacion", "Login", FormMethod.Post))
                    {

                        <form action="" method="post" name="login">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Usuario</label>

                                @Html.TextBoxFor(x => x.usuario, new { @class = "form-control", placeholder = "Usuario", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(x => x.usuario, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Contraseña</label>
                                @Html.TextBoxFor(x => x.password, new { @class = "form-control", placeholder = "Contraseña", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(x => x.password, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <p class="text-center">Al registrarse, acepta nuestros  <a href="#">términos de uso</a></p>
                            </div>
                            <div class="col-md-12 text-center ">
                                <button type="submit"  class=" btn btn-block mybtn btn-primary tx-tfm">Ingresar</button>
                            </div>
                            <div class="col-md-12 ">
                                <div class="login-or">
                                    <hr class="hr-or">
                                    <span class="span-or">o</span>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <p class="text-center">
                                    <a href="javascript:void();" class="google btn mybtn">
                                        <i class="fa fa-google-plus">
                                        </i> Registrarse usando Google
                                    </a>
                                </p>
                            </div>
                            <div class="form-group">
                                <p class="text-center">Todavia no tiene  cuenta? <a href="#" id="signup">Registrese aquí</a></p>
                            </div>
                        </form>


                    }


                </div>
            </div>
        </div>
    </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>